.mc-popselect {
    @apply mc-p-0;
    min-width: 110px;
}

.mc-popselect-option {
    @apply mc-px-3 mc-py-2 mc-cursor-pointer mc-rounded mc-mb-1;

    &:not(&--disabled):hover {
        background: #f2fcf8;
    }

    &--selected {
        background: #f2fcf8;
        color: #10b981;
    }

    &--disabled {
        @apply mc-cursor-not-allowed mc-bg-gray-100 mc-text-gray-400;
    }

    &__inner {
        @apply mc-flex mc-justify-between mc-items-center;

        div {
            @apply mc-truncate;
            max-width: 200px;
        }
    }
}
