.mc-text-link {
    color: var(--text-link-default-color);
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: var(--text-link-hover-color);
    }

    &--block {
        display: block;
        width: max-content;
    }

    &.underline {
        text-decoration: underline;
    }

    &.underline-hover:hover {
        text-decoration: underline;
    }
}
