.mc-message-global-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    z-index: 5000;

    .basic-transition-group {
        min-width: 220px;
    }
}

.mc-message {
    padding: 8px;
    border-radius: 4px;
    line-height: 1;
    min-width: 220px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-top: 8px;
    transition: all 0.3s ease;

    &--text {
        border: 1px solid #3b82f6;

        .mc-message__icon {
            color: #3b82f6;
        }
    }

    &--success {
        border: 1px solid #10b981;

        .mc-message__icon {
            color: #10b981;
        }
    }

    &--warning {
        border: 1px solid #f59e0b;

        .mc-message__icon {
            color: #f59e0b;
        }
    }

    &--info {
        border: 1px solid #6b7280;

        .mc-message__icon {
            color: #6b7280;
        }
    }

    &--error {
        border: 1px solid #ef4444;

        .mc-message__icon {
            color: #ef4444;
        }
    }

    &__icon {
        margin-right: 6px;
    }

    &__content {
        flex: 1;
    }

    &__close {
        cursor: pointer;
        margin-left: 4px;
    }
}

.mc-message-slide-down-enter-from,
.mc-message-slide-down-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}

.mc-message-slide-down-leave-active {
    position: absolute;
}
