.mc-message-global-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    z-index: 5000;
}

.mc-message {
    padding: 8px;
    border-radius: 4px;
    line-height: 1;
    min-width: 220px;
    display: flex;
    align-items: center;
    background: #fff;

    &--text {
        border: 1px solid #3b82f6;

        .mc-message__icon {
            color: #3b82f6;
        }
    }

    &--success {
        border: 1px solid #10b981;

        .mc-message__icon {
            color: #10b981;
        }
    }

    &--warning {
        border: 1px solid #f59e0b;

        .mc-message__icon {
            color: #f59e0b;
        }
    }

    &--info {
        border: 1px solid #6b7280;

        .mc-message__icon {
            color: #6b7280;
        }
    }

    &--error {
        border: 1px solid #ef4444;

        .mc-message__icon {
            color: #ef4444;
        }
    }

    &__icon {
        margin-right: 6px;
    }

    &__content {
        flex: 1;
    }

    &__close {
        cursor: pointer;
    }
}

.mc-message-slide-down-enter-active {
    animation: slide-down-in 0.3s;
}

.mc-message-slide-down-leave-active {
    animation: slide-up-out 0.3s;
}

@keyframes slide-down-in {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-up-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}
