.mc-space {
    display: flex;
    flex-direction: var(--space-direction);
    align-items: center;
    flex-wrap: wrap;

    &-item {
        padding: 4px 0;
    }

    &-item:not(:last-child) {
        margin: var(--space-item-gap);
    }
}
