.mc-space {
    display: flex;
    flex-direction: var(--space-direction);
    justify-content: var(--space-justify);
    align-items: center;
    flex-wrap: wrap;

    &--vertical {
        align-items: flex-start;
    }

    &-item {
        padding: 4px 0;
        display: flex;
    }

    &-item:not(:last-child) {
        margin: var(--space-item-gap);
    }
}
