.mc-tabs {
    &__header-scroll-content {
        display: flex;
    }

    &-tab {
        cursor: pointer;
        &:hover {
            color: #10b981;
        }
    }

    &-tab--active {
        color: #10b981;
    }
}

.mc-tabs--line {
    .mc-tabs__header {
        .mc-tabs-tab {
            margin: 0 20px;
            padding: 12px 0;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &__label {
                display: flex;
                line-height: 1.5;
            }
        }

        // display: flex;
    }
}

.mc-tabs--empty {
}

.mc-tabs--card {
}

.mc-tabs--segment {
}
