.mc-tabs {
    &__header-scroll-content {
        display: flex;
        position: relative;
    }

    &-tab {
        cursor: pointer;
        &:hover {
            color: #10b981;
        }
    }

    &-tab--active {
        color: #10b981;
    }
}

.mc-tabs--line .mc-tabs__header {
    position: relative;

    .mc-tabs-tab {
        margin: 0 20px;
        padding: 12px 0;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &__label {
            display: flex;
        }
    }

    &-scroll-content {
        border-bottom: 2px solid #e4e7ed;
    }

    &-bar {
        transition: 0.3s;
        position: absolute;
        height: 2px;
        width: 8192px;
        background: #10b981;
        bottom: 0;
    }
}

.mc-tabs--empty {
}

.mc-tabs--card {
}

.mc-tabs--segment {
}
