.mc-grid {
    display: grid;

    grid-template-columns: var(--columns-template);
    grid-template-rows: var(--rows-template);
    gap: var(--grid-gap);
}

.mc-grid-item {
    display: flex;

    grid-column-start: var(--column-start);
    grid-row-start: var(--row-start);
    grid-column-end: var(--column-end);
    grid-row-end: var(--row-end);

    justify-self: var(--item-justify);
    align-self: var(--item-align);

    justify-content: var(--justify-content);
    align-items: var(--align-items);
}
