.mc-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    padding: 0 12px;
    height: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
    vertical-align: top;
    font-family: v-sans;
    border-radius: 2px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
        box-sizing: border-box;
        border: 1px solid rgb(224, 224, 230);
    }

    &::after {
        transition: border-color 0.3s;
    }

    &:hover::after {
        border-color: #10b981;
    }

    &:hover .mc-button__inner {
        color: #059669;
    }

    // &--waving::before {
    //     border-color: #10b981;
    //     animation: ripple-out 0.6s;
    // }

    &__inner {
        transition: color 0.3s;
        font-size: 14px;
        line-height: 1;
    }
}

@keyframes ripple-out {
    from {
        box-shadow: 0 0 0.5px 0 #10b981;
    }

    to {
        // don't use exact 5px since chrome will display the animation with glitches
        box-shadow: 0 0 0.5px 4.5px #10b981;
        opacity: 0;
    }
}

@keyframes bubble-out {
    from {
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(1);
    }
}
