.mc-button--dashed {
    &::before,
    &::after {
        border-style: dashed;
    }
}

.mc-button--block {
    width: 100%;
}

.mc-button--text {
    &.mc-button--disabled,
    &:hover,
    &:focus {
        background: rgba(0, 0, 0, 0.02);
    }
}

.mc-button-group {
    .mc-button--default::after {
        border-color: transparent;
        z-index: 1;
    }

    .mc-button--default:not(:last-child) {
        &::before {
            border-right-width: 0;
        }
        &::after {
            right: -1px;
        }
    }

    .mc-button:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .mc-button:first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .mc-button:not(:last-child):not(:first-child) {
        border-radius: 0;
    }
}

.mc-button {
    background: var(--button-default-background-color);
    border: none;
    cursor: pointer;
    display: inline-flex;
    padding: var(--button-padding);
    width: var(--button-width);
    height: var(--button-height);
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: v-sans;
    border-radius: var(--button-radius);
    color: var(--button-default-color);
    font-size: var(--button-font-size);
    transition: background-color 0.3s;

    &__icon,
    &__content {
        transition: color 0.3s;
        font-size: inherit;
        line-height: 1;
    }

    &__icon {
        display: flex;
        font-size: var(--button-icon-size);
    }

    &__icon-loading {
        display: inline-block;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-left-color: var(--button-default-color);
        border-radius: 50%;
        width: 14px;
        height: 14px;
        animation: mc-button-icon-loading-spin 1.2s linear infinite;
        transition: background-color 0.3s;
    }

    & > span:not(:last-child) {
        margin-right: var(--button-icon-margin);
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
        box-sizing: border-box;
        border: 1px solid var(--button-default-border-color);
    }

    &::after {
        transition: border-color 0.3s;
    }

    &:hover {
        color: var(--button-hover-color);
        background: var(--button-hover-background-color);

        &::after {
            border-color: var(--button-hover-border-color);
        }

        .mc-button__icon-loading {
            border-left-color: var(--button-hover-color);
        }
    }

    &:focus {
        color: var(--button-hover-color);
        outline: none;
        background: var(--button-hover-background-color);

        &::after {
            border-color: var(--button-hover-border-color);
        }

        .mc-button__icon-loading {
            border-left-color: var(--button-hover-color);
        }
    }

    &:active {
        color: var(--button-active-color);
        background: var(--button-active-background-color);

        &::after {
            border-color: var(--button-active-border-color);
        }

        .mc-button__icon-loading {
            border-left-color: var(--button-active-color);
        }
    }

    &:disabled {
        cursor: not-allowed;
        color: var(--button-disabled-color);
        background: var(--button-disabled-background-color);

        &::after {
            border-color: var(--button-disabled-border-color);
        }

        .mc-button__icon-loading {
            border-left-color: var(--button-disabled-color);
        }
    }
}

@keyframes ripple-out {
    from {
        box-shadow: 0 0 0.5px 0 #10b981;
    }

    to {
        // don't use exact 5px since chrome will display the animation with glitches
        box-shadow: 0 0 0.5px 4.5px #10b981;
        opacity: 0;
    }
}

@keyframes bubble-out {
    from {
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes mc-button-icon-loading-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
