.mc-popconfirm__content {
  display: flex;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  min-width: 110px;
}

.mc-popconfirm__action {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

[v-placement^='top'] > .mc-popover {
  margin-bottom: 8px;
}

[v-placement^='top'] > .mc-popover.mc-popover--with-arrow {
  margin-bottom: 10px;
}

[v-placement^='top'] > .mc-popover > .mc-popover__arrow {
  transform: translateX(-50%) rotate(45deg);
  bottom: -4px;
}

[v-placement^='right'] > .mc-popover {
  margin-left: 8px;
}

[v-placement^='right'] > .mc-popover.mc-popover--with-arrow {
  margin-left: 10px;
}

[v-placement^='right'] > .mc-popover > .mc-popover__arrow {
  transform: translateY(-50%) rotate(45deg);
  left: -4px;
}

[v-placement^='bottom'] > .mc-popover {
  margin-top: 8px;
}

[v-placement^='bottom'] > .mc-popover.mc-popover--with-arrow {
  margin-top: 10px;
}

[v-placement^='bottom'] > .mc-popover > .mc-popover__arrow {
  transform: translateX(-50%) rotate(45deg);
  top: -4px;
}

[v-placement^='left'] > .mc-popover {
  margin-right: 8px;
}

[v-placement^='left'] > .mc-popover.mc-popover--with-arrow {
  margin-right: 10px;
}

[v-placement^='left'] > .mc-popover > .mc-popover__arrow {
  transform: translateY(-50%) rotate(45deg);
  right: -4px;
}

[v-placement='top-start'] > .mc-popover > .mc-popover__arrow,
[v-placement='bottom-start'] > .mc-popover > .mc-popover__arrow {
  left: 15%;
}

[v-placement='top'] > .mc-popover > .mc-popover__arrow,
[v-placement='bottom'] > .mc-popover > .mc-popover__arrow {
  left: 50%;
}

[v-placement='top-end'] > .mc-popover > .mc-popover__arrow,
[v-placement='bottom-end'] > .mc-popover > .mc-popover__arrow {
  left: 85%;
}

[v-placement='right-start'] > .mc-popover > .mc-popover__arrow,
[v-placement='left-start'] > .mc-popover > .mc-popover__arrow {
  top: 15%;
}

[v-placement='right'] > .mc-popover > .mc-popover__arrow,
[v-placement='left'] > .mc-popover > .mc-popover__arrow {
  top: 50%;
}

[v-placement='right-end'] > .mc-popover > .mc-popover__arrow,
[v-placement='left-end'] > .mc-popover > .mc-popover__arrow {
  top: 85%;
}

.mc-popover {
  border-radius: 0.125rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: #fff;
  position: relative;
  top: var(--popover-offset-top);
  right: var(--popover-offset-right);
  bottom: var(--popover-offset-bottom);
  left: var(--popover-offset-left);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.mc-popover__title {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.mc-popover__arrow {
  position: absolute;
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  transform-origin: 50% 50%;
  background: inherit;
}

.mc-popover-fade-enter-active,
.mc-popover-fade-leave-active {
  transition: opacity 0.1s ease;
}

.mc-popover-fade-enter-from,
.mc-popover-fade-leave-to {
  opacity: 0;
}

.mc-popselect {
  padding: 0px;
  min-width: 110px;
}

.mc-popselect .mc-virtual-list {
  padding: 4px;
}

.mc-popselect .mc-virtual-list > div > div:not(:first-child) {
  margin-top: 4px;
}

.mc-popselect-option {
  cursor: pointer;
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mc-popselect-option:not(.mc-popselect-option--disabled):hover {
  background: #f2fcf8;
}

.mc-popselect-option--selected {
  background: #f2fcf8;
  color: #10b981;
}

.mc-popselect-option--disabled {
  cursor: not-allowed;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.mc-popselect-option__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
